{
  "env": {
    "RPC_PROVIDER": "",
    "SIGNER_PRIVATE_KEY": "",
    "BICONOMY_API_KEY": "",
    "BICONOMY_WHITELIST_TOKEN": "",
    "BEARER_AUTH": "",
    "PROXY_FACTORY_CONTRACT": "",
    "GNOSIS_SAFE_ADDRESS": "",
    "SUN_VALIDATOR": ""
  }
}