{
  "env": {
    "rpc_provider": "",
    "signer_private_key": "",
    "biconomy_api_key": "",
    "biconomy_whitelist_token": "",
    "bearer_auth": "",
    "proxy_factory_contract": "",
    "gnosis_safe_address": "",
    "sun_validator": ""
  }
}